In [18]:
import pandas as pd
import numpy as np

data=pd.read_csv('I://تطبيق machine//4_5901974192206645743.csv')

In [21]:
data=data.drop(['id','age','ba','pot','su','pc','pcv','wc','rc','cad','dm','ane','bp','rbc','pcc','bgr','appet','pe'],axis=1)
for i ,j in enumerate(data):
    if data[j].dtypes=='O':
        data[j].str.strip()

print(data.nunique())

sg                  5
al                  6
bu                118
sc                 84
sod                34
hemo              115
htn                 2
classification      3
dtype: int64

In [22]:
# data=data.apply(lambda x: x.value_counts.index[0])
for i  in  (data.columns):
    if data[i].isnull:
        data[i]=data[i].fillna(data[i].mode()[0])
data.head(10)

      sg   al     bu    sc    sod  hemo  htn classification
0  1.020  1.0   36.0   1.2  135.0  15.4  yes            ckd
1  1.020  4.0   18.0   0.8  135.0  11.3   no            ckd
2  1.010  2.0   53.0   1.8  135.0   9.6   no            ckd
3  1.005  4.0   56.0   3.8  111.0  11.2  yes            ckd
4  1.010  2.0   26.0   1.4  135.0  11.6   no            ckd
5  1.015  3.0   25.0   1.1  142.0  12.2  yes            ckd
6  1.010  0.0   54.0  24.0  104.0  12.4   no            ckd
7  1.015  2.0   31.0   1.1  135.0  12.4   no            ckd
8  1.015  3.0   60.0   1.9  135.0  10.8  yes            ckd
9  1.020  2.0  107.0   7.2  114.0   9.5  yes            ckd

In [23]:
data['classification'].replace('ckd\t','ckd',inplace=True)

In [24]:
data.nunique()

sg                  5
al                  6
bu                118
sc                 84
sod                34
hemo              115
htn                 2
classification      2
dtype: int64

In [25]:
data['htn']=data['htn'].map({'yes':1,'no':0})

data['classification']=data['classification'].map({'ckd':1,'notckd':0})
# data.head(20)

In [26]:
data.head(20)

       sg   al     bu    sc    sod  hemo  htn  classification
0   1.020  1.0   36.0   1.2  135.0  15.4    1               1
1   1.020  4.0   18.0   0.8  135.0  11.3    0               1
2   1.010  2.0   53.0   1.8  135.0   9.6    0               1
3   1.005  4.0   56.0   3.8  111.0  11.2    1               1
4   1.010  2.0   26.0   1.4  135.0  11.6    0               1
5   1.015  3.0   25.0   1.1  142.0  12.2    1               1
6   1.010  0.0   54.0  24.0  104.0  12.4    0               1
7   1.015  2.0   31.0   1.1  135.0  12.4    0               1
8   1.015  3.0   60.0   1.9  135.0  10.8    1               1
9   1.020  2.0  107.0   7.2  114.0   9.5    1               1
10  1.010  2.0   55.0   4.0  135.0   9.4    1               1
11  1.010  3.0   60.0   2.7  131.0  10.8    1               1
12  1.015  3.0   72.0   2.1  138.0   9.7    1               1
13  1.020  0.0   86.0   4.6  135.0   9.8    1               1
14  1.010  3.0   90.0   4.1  130.0   5.6    1               1
15  1.015  3.0  162.0   9.6  141.0   7.6    1               1
16  1.015  2.0   46.0   2.2  138.0  12.6    0               1
17  1.020  0.0   87.0   5.2  139.0  12.1    1               1
18  1.025  0.0   27.0   1.3  135.0  12.7    1               1
19  1.015  1.0   31.0   1.6  135.0  10.3    1               1

In [35]:
x=data.drop(['classification'],axis=1)
y=data['classification']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x.columns

Index(['sg', 'al', 'bu', 'sc', 'sod', 'hemo', 'htn'], dtype='object')

In [28]:
# create the model
from sklearn.linear_model import LogisticRegression
model= LogisticRegression()
model.fit(x_train,y_train)

pred=model.predict(x_test)
print(model.score(x_test,y_test))

0.9666666666666667

C:\Users\Nmber One\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [29]:
import pickle
file_name='model_ckd.sav'
pickle.dump(model, open(file_name,'wb'))

In [30]:
# loading the model saved
loaded_model= pickle.load(open('model_ckd.sav', 'rb'))
loaded_model

LogisticRegression()

In [36]:
data_in=[1.025,0.0,18.0,1.1,3.5,15.8,0]

def input_changing(input_data):
    input_data=np.asarray(input_data)
    input_data= input_data.reshape(1, -1)
    return input_data

In [37]:
def prediction(input_data):
    # data_in=[]
    input_data=input_changing(input_data)
    predict=loaded_model.predict(input_data)
    print (predict)
    if (predict[0]==0):
        return('not ckd')
    elif predict[0]==1 :
        return ('ckd')

In [38]:
print(prediction(data_in))

[1]
ckd